.App1 {
    margin-top: 5%;
}

.App1 h2 {
    font-size: 150%;
    margin: 2% 9%;
}

  .sdd {
    font-size: 34px;
    color: red;
  }
  
#main-slider-container {
    width: 80%;
    height: 100%;
    margin-left: 9%;
    color: black;
}

.slider-card {
    padding: 0.9%;
    width: 207px;
    color: white;
    background-color: rgb(22, 22, 22);
    box-shadow: none;
}

.slider-card-image {
    height: 240px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.slider-card-image:hover {
    filter: grayscale(70%);
    transform: scale(1.1);
}

.slider-icon.left {
    left: -4%;
}

.slider-icon.right {
    right: -4%;
}