.step1 {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


.slider {
    margin: 0 auto;
    border-radius: 25px;
    width: 60vw;
    height: 70vh;
    margin-right: 30%;
    overflow: hidden;
    margin-block-end: 5px;
}

.slides {
    width: 400%;
    flex-wrap: wrap;
    height: 70vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    transition: 2s;
    width: 25%;
    height: 100%;
    position: relative;
}

.slides img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.manual-navigation {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: 3px;
}

.manual-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: rgb(255, 255, 255);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}


#text-slide {
    position: absolute;
    width: 50%;
    top: 65%;
    left: 3%; 
    z-index: 2;
    padding: 20px;
}

#text-slide h4 {
    margin-bottom: 5%;
}

#text-slide button {
    margin: 3px 0px;
}

#text-slide button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#text-slide button:hover {
    background-color: #8f8f8f;
}

.card-slide {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 25px;
    width: 20vw;
    height: 70vh;
    margin-left: 70%;
    overflow: hidden;
    margin-block-end: 5px;
    position: absolute;
}

.card {
    display: flex;               
    flex-direction: row;         
    align-items: center;         
    width: 100%;  
    height: 30%;               
    margin-bottom: 10px;         
}

.card img {
    width: 50%;                  
    height: 100%;
    object-fit: cover;           
    border-radius: 10px;         
}

.card p {
    flex: 1;                     
    margin-left: 10px;            
    font-size: 16px;              
    color: #ffffff;                  
}

.card:hover {
    z-index: 3;
    background-color: #8f8f8f;
    border-radius: 10px;
    cursor: pointer;
}